// Typography
$fontFamilyNunito: 'Nunito Sans', sans-serif;
$fontSizeBase: 14px;

// Colors
$darkLinkColor: #333333;
$textColor: #000;

$superLightGreen: #F1F8E9;
$lightGreenColor: #dee2e6;
$greenColor: #82b440;
$darkGreenColor: #678e33;
$redColor: #b71c1c;
